.title {
  font-size: clamp(1.7rem, 4vw, 2.5rem);
  white-space: pre-line;
  font-weight: 600;
  padding: 10px 10px 10px 10px;
}

.description {
  max-width: 800px;
  margin: 0 auto;
  font-size: clamp(0.8rem, 4vw, 1.4rem);
  padding: 10px 10px 20px;
}
