.gridContainer {
  max-width: 1150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 30px;
  padding: 50px 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 15px;
  min-height: 300px;
  height: auto;
}

.item img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 240px;
}

.itemDescription {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 25px;
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
